{% extends 'base.html' %}

{% load static %}

{%block head%}

{%endblock head%}
{%block title%}
ITSP
{%endblock title%}
{% block body %}
<br><br><br>
<div class="container">
<h1>List</h1>

<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">TeamID</th>
      <th scope="col">TeamName</th>
      <th scope="col">TeamMemebers</th>
    </tr>
  </thead>
  {% for sk in Teams %}
  <tbody>
    <tr>
      
      <td>ITS2020{{sk.id}}</td>
      <td><a href="/ITS2020{{sk.id}}">{{sk.Team}}</a></td>
      <td>{{sk.memeber1}},{{sk.memeber2}}</td>
    </tr>
   
  </tbody>
  {% endfor %}
</table>
</div>


{% endblock body %}